---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SelectedWorks from "../components/SelectedWorks.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Blogs from "../components/Blogs.astro";
---

<Layout title="UWENAYO Alain Pacifique">
  <main>
    <Hero />
    <SelectedWorks />
    <Services />
    <About />
    <Blogs />
  </main>
</Layout>
